# Dependencies
node_modules

# Serverless
.serverless

# Environment variables
.env
.env.*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist
build
*.tsbuildinfo

# Logs
*.log
npm-debug.log*